body{
    padding-top: 50px;
}

.starter-template{
    padding: 40px 15px;
    text-align: center;
}

.error{
    background: darkred;
    color: #fff;
    padding: 10px;
    font-size: 17px;
}

.valid{
    background: #5cb85c;
    color: #fff;
    padding: 2vh;
    font-size: 5vh;
    text-align: center;
}

.btnsubmit{
    width: 100%;
}
